@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');





/* Background Images */

.butterfly {
    background: url('../images/butterflies.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.macaw {
    background: url('../images/macaw.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frog {
    background: url('../images/frog.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.snake {
    background: url('../images/snake.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shark {
    background: url('../images/shark.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gorilla {
    background: url('../images/gorilla.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.croc {
    background: url('../images/crocodile.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tiger {
    background: url('../images/tiger.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elephant  {
    background: url('../images/elephant.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lion {
    background: url('../images/lion.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.logo {
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Permanent Marker", sans-serif;
    font-size: 2.5rem;
   }

#tetris {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid.2em #fff;
    height: 75vh;
    opacity: 0.75;
    }

#score {
    font-family: "Permanent Marker", sans-serif;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.label {
    font-family: permanent marker, sans-serif;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px black;
    background: rgb(255,255,255,0.6);
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
}

.sub {
    font-family: permanent marker, sans-serif;
    color: #F23D3D;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px black;
    font-size: 1.75rem;
    }

.space {
    margin-bottom: 10px;
}

#controls {
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Permanent Marker", sans-serif;
    
}

.back {
    background: rgb(255,255,255,0.6);
    border: 2px solid black;
    border-radius: 25px;
}

.tweakheight {
    position: relative;
    height: 25%;
    border-radius: 100px / 50px;
}

.height20 {
    height: 35%;
    position: relative;
    bottom: -110px;
}

.height80 {
    height: 100%;
    position: absolute;

}

.wrapper {
    background: grey ;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .logo {
      font-size: 1.75rem;
    }

.pos {
    bottom: -10px;
}

